# pip install -r requirements.txt
pytest
pytest-cov
codecov

gitpython

numpy
pandas
matplotlib
scipy

sklearn
tensorflow-gpu
tensorflow
keras 

torch
transformers

hyperopt
bson

scikit-image
Pillow
opencv-python
#mask-rcnn-12rics #Mask_RCNN: https://github.com/matterport/Mask_RCNN - skipped due to  incompatabilities w/ new tensorflow versions
imgaug

#coco tools
Cython
pycocotools

nose

dill
h5py

dask
dask[dataframe]
fsspec>=0.3.3
dask_ml
dask_xgboost  
xgboost       

lightgbm

pydicom #allows interacting with DICOM files (*.dcm), which medical images are typically stored as

kaggle
